{% extends 'base.html' %}
{% block content %}
<div class="content container-fluid">

<div class="page-header">
<div class="row align-items-center">
<div class="col">
<h3 class="page-title">Edit Batch</h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="subjects.html">Batch</a></li>
<li class="breadcrumb-item active">Edit Batch</li>
</ul>
</div>
</div>
</div>
{% include 'includes/messages.html' %}
<div class="row">
<div class="col-sm-12">
<div class="card">
<div class="card-body">
<form action="{% url 'update_batch'%}" method="post">
    {% csrf_token %}
<div class="row">
<div class="col-12">
<h5 class="form-title"><span>Batch Information</span></h5>
</div>
<div class="col-12 col-sm-6">
 <div class="form-group">
     <label>Batch Year Start</label>
     <div>
                  <input type="text" class="form-control" name="batch_id" value="{% for i in batch %}{{i.id}}{% endfor %}" hidden>
          <input type="date" class="form-control" name="batch_year_start" value="{% for i in batch %}{{i.batch_start}}{% endfor %}" required>
     </div>
 </div>
</div>
<div class="col-12 col-sm-6">
 <div class="form-group">
     <label>Batch Year End</label>
     <div>
                  <input type="date" class="form-control" name="batch_year_end" value="{% for i in batch %}{{i.batch_end}}{% endfor %}" required>

     </div>
 </div>
</div>

<div class="col-12 mt-4">
<button type="submit" class="btn btn-primary">Update Batch</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>


{% endblock %}